src/.buildpath
src/.cache
src/.metadata
src/.project
src/.settings
src/.vscode
atlassian*
src/nbproject
src/robots.txt
src/pub/robots.txt
src/sitemap
src/sitemap.xml
src/pub/sitemap
src/pub/sitemap.xml
src/.gitattributes
src/app/config_sandbox
src/app/etc/config.php
src/app/etc/env.php
src/app/code/Magento/TestModule*
src/lib/internal/flex/uploader/.actionScriptProperties
src/lib/internal/flex/uploader/.flexProperties
src/lib/internal/flex/uploader/.project
src/lib/internal/flex/uploader/.settings
src/lib/internal/flex/varien/.actionScriptProperties
src/lib/internal/flex/varien/.flexLibProperties
src/lib/internal/flex/varien/.project
src/lib/internal/flex/varien/.settings
node_modules
src/.grunt
src/Gruntfile.js
src/package.json
src/.php_cs
src/.php_cs.cache
src/.php-cs-fixer.php
src/.php-cs-fixer.cache
src/grunt-config.json
src/pub/media/*.*
!src/pub/media/.htaccess
src/pub/media/attribute/*
!src/pub/media/attribute/.htaccess
src/pub/media/analytics/*
src/pub/media/catalog/*
!src/pub/media/catalog/.htaccess
src/pub/media/customer/*
!src/pub/media/customer/.htaccess
src/pub/media/downloadable/*
!src/pub/media/downloadable/.htaccess
src/pub/media/favicon/*
src/pub/media/import/*
!src/pub/media/import/.htaccess
src/pub/media/logo/*
src/pub/media/custom_options/*
!src/pub/media/custom_options/.htaccess
src/pub/media/theme/*
src/pub/media/theme_customization/*
!src/pub/media/theme_customization/.htaccess
src/pub/media/wysiwyg/*
!src/pub/media/wysiwyg/.htaccess
src/pub/media/tmp/*
!src/pub/media/tmp/.htaccess
src/pub/media/captcha/*
src/pub/media/sitemap/*
!src/pub/media/sitemap/.htaccess
src/pub/static/*
!src/pub/static/.htaccess

src/var/*
!src/var/.htaccess
src/vendor/*
!src/vendor/.htaccess
src/generated/*
!src/generated/.htaccess
.DS_Store

# Append static gitignore
!src/grunt-config.json
!src/Gruntfile.js
!src/package.json

src/pub/media/cms/*
src/pub/media/mageplaza/*
src/pub/media/rblab_csm_slide/*

